<div class="main-container">
	<div
		class="editor-container editor-container_classic-editor editor-container_include-style editor-container_include-block-toolbar editor-container_include-word-count"
		#editorContainerElement
	>
		<div class="editor-container__editor">
			<div #editorElement>
				<ckeditor [editor]="Editor" [config]="config" (ready)="onReady($event)" *ngIf="isLayoutReady" />
			</div>
		</div>
		<div class="editor_container__word-count" #editorWordCountElement></div>
	</div>
</div>

